doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width initial-scale=1.0')
        title Facebook fakefake 
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href=' ../style.css')
    body 
    nav 
        .nav__left 
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_(2019).svg/100px-Facebook_f_logo_(2019).svg.png' alt='')
            .nav__search 
                i.material-icons search 
                input(type='text' placeholder='Search on Facebook...')
        .nav__mid 
            a.icon(href='#')
                i.material-icons home
            a.icon(href='#')
                i.material-icons slideshow 
            a.icon(href='#')
                i.material-icons shopping_cart 
            a.icon(href='#')
                i.material-icons groups
        .nav__right 
                a(href='#')
                    i.material-icons add 
                a(href='#')
                    i.material-icons message 
                a(href='#')
                    i.material-icons notifications 
                a.avatar(href='#')
                    img.avatar__img(src='../img/ava.jpg' alt='')

    
