* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#f4f5f5,#36383a);
}

/* ::selection{
    color : #fff;
    background:#1a81ff;
} */

.container {
    width:500px;
    height : 480px;
    overflow : hidden;
    background: #fff;
    border-radius: 10px;
    transition:  0.2s;
    box-shadow: 0 12px 8px rgba(0,0,0,0.12);

}

.container.active{
    height:590px;
}

.container .wrapper {
    width : 1000px;
    display : flex;
}

.container .wrapper section {
    width : 500px;
    background: #fff;
}



.avatar__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    cursor : pointer;
}
.container .post {
    transition : 0.2s;
}

.container.active .post {
    margin-left: -500px;
}

.post header {
    font-size : 22px;
    font-weight : 600;
    padding : 17px 0;
    text-align: center;
    border-bottom : 1px solid #bfbfbf;
}

.post form {
    margin : 20px 25px;
}

.post form .content {
    display : flex;
    align-items: center;
}